package {{packageName}}.domain.usecase

import {{packageName}}.domain.repository.GreetingRepository

class GetGreetingUseCase(private val repo: GreetingRepository) {
    operator fun invoke(): String = repo.getGreeting().message
}
