package {{packageName}}

import androidx.compose.material3.MaterialTheme
import androidx.compose.material3.Text
import androidx.compose.runtime.Composable
import androidx.compose.runtime.collectAsState
import androidx.compose.runtime.getValue
import {{packageName}}.viewmodel.HomeViewModel

@Composable
fun App() {
    val vm = HomeViewModel()
    val state by vm.state.collectAsState()
    MaterialTheme {
        Text(text = state.greeting)
    }
}
